.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.camera-view {
  position: relative;
  width: 640px;
  height: 480px;
}

/* .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
} */

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}